/* 
    If JS fails to remove the elements or more are added to the DOM after the 
    JavaScript runs we hide and disable them using CSS. 
*/

.xpromoMinimal, 
.XPromoPill,
.XPromoPopup,
.TopButton {
    display: none !important;
    pointer-events: none !important;
}